
{% if(instanceof(values, '\\Thunder\\Shortcode\\Shortcode\\ProcessedShortcode')) %}
    {% set values = {
      'image': item.getParameter('image'),
      'image_path': item.getParameter('image-path')|default('/images'),
      'content': item.content|trim,
    } %}
{% endif %}

{% set card_attributes = parse_attributes(values.card_attributes) %}
{% set card_content_attributes = parse_attributes(values.card_content_attributes) %}
<div class="card horizontal xs {{ card_attributes['class'] }}" {% include 'partials/_attributes.html.twig' with {'attributes': card_attributes, 'ignore': ['class']} %}>
      <div class="card-image">
        {% if (instanceof(values.image, '\\Grav\\Common\\Page\\Medium\\ImageMedium')) %}
          {{ values.image.html }}
        {% elseif (values.image) %}
          {{ get_media(values.image, values.image_path).html(values.image_title, values.image_alt) }}
        {% endif %}
      </div>
      <div class="card-stacked">
        <div class="card-content {{ card_content_attributes['class'] }}" {% include 'partials/_attributes.html.twig' with {'attributes': card_content_attributes, 'ignore': ['class']} %}>
            {{ values.content }}
        </div>
        <div class="card-action">
          <a class="btn" href="{{ action_url }}">{{ active_page.header.card.action.label }}</a>
          <span class="right {{ active_page.header.card.content.class }}">{{ active_page.header.card.content.value }}</span>
        </div>
    </div>
</div>
